/* src/styles.css */

@font-face {
    font-family: 'YourCustomFont';
    src: url('../public/fonts/pixel-font-1.ttf') format('truetype');
    /* 可以添加其他字体格式的声明，根据你的字体文件类型 */
}

body {
    font-family: 'YourCustomFont', sans-serif;
    /* 应用字体到整个应用中 */
}
